@font-face {
  font-family: cooper;
  src: url(/CooperLtBTWXXLight.woff2);
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: cooper;
}

html, body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main #nav {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem;
  background-color: #fff;
}
#main #nav #nav-part2 {
  display: flex;
  align-items: center;
  gap: 3.5rem;
}
#main #nav #nav-part2 a {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  position: relative;
}
#main #nav #nav-part2 a:nth-last-child(1) {
  padding: 0.6rem 2rem;
  border: 1px solid rgb(119, 111, 111);
  border-radius: 1.2rem;
  overflow: hidden;
}
#main #nav #nav-part2 a:nth-last-child(1) h5 {
  position: relative;
  z-index: 1000;
  font-weight: 100;
  font-size: 1rem;
}
#main #nav #nav-part2 a:nth-last-child(1) #green {
  background-color: springgreen;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: left 0.8s ease;
  left: -100%;
  top: 0;
  z-index: 0;
}
#main #nav #nav-part2 a:nth-last-child(1):hover #green {
  left: 0;
}
#main #nav > h1 {
  font-weight: 500;
}

#main > h1 {
  font-size: 5rem;
  z-index: 1;
  text-align: center;
  width: 60%;
  font-weight: 500;
  position: relative;
}

#main > h1::after {
  content: "";
  width: 38%;
  background-image: url(https://thisisdigital.co.uk/dist/images/underline-green.svg);
  height: 16px;
  position: absolute;
  left: 50%;
  bottom: -6%;
  transform: translate(-50%, 0);
}

#main #img1 {
  height: 500px;
  width: 350px;
  position: absolute;
  left: 9%;
  top: 18%;
}

#main #img2 {
  height: 220px;
  width: 260px;
  position: absolute;
  top: 16%;
  right: 24%;
}

#main #img3 {
  height: 280px;
  width: 280px;
  position: absolute;
  top: 55%;
  right: 8%;
}

#main img {
  transition: margin 0.8s ease;
}

#main img:hover {
  margin: -10px;
}

#page2 {
  width: 100%;
  height: 70vh;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  position: relative;
}
#page2::after {
  content: "";
  width: 14%;
  height: 80px;
  bottom: 33%;
  left: 42%;
  position: absolute;
  background-image: url(https://thisisdigital.co.uk/dist/images/circle-green.svg);
}
#page2 p {
  font-size: 1.2rem;
  position: relative;
}
#page2 p::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: springgreen;
  position: absolute;
  left: -5%;
  bottom: 20%;
}
#page2 h1 {
  width: 55%;
  font-weight: 200;
  text-align: center;
  font-size: 3rem;
}
#page2 h5 {
  font-size: 2rem;
  font-weight: 200;
  font-family: "gilroy", sans-serif;
}
#page2 h5 i {
  color: black;
  padding: 0.2rem 1rem;
  background: #fff;
  border: 1px solid black;
  border-radius: 2rem;
}

#page3 {
  width: 100%;
  height: 100vh;
}/*# sourceMappingURL=style.css.map */